/* Image Container */
[class^="PrePlayArtwork-imageContainer-"] {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: -1 !important;

    width: 100% !important;
    height: 100% !important;

    margin: 0 !important;

    background: #1f1f1f !important;

    -webkit-animation: 0.6s ease-in plexbgfadein;
    -moz-animation: 0.6s ease-in plexbgfadein;
    -o-animation: 0.6s ease-in plexbgfadein;
    animation: 0.6s ease-in plexbgfadein;
}

/* Image */
[class^="PrePlayArtwork-imageContainer-"] > div:first-child {
    width: 100% !important;
    height: 100% !important;
    opacity: 0.08 !important;
}

/* Resizing adds extra divs */
[class^="PrePlayArtwork-imageContainer-"] > div + div {
    display: none !important;
}

/* Item Thumbnail */
[class^="PrePlayArtwork-imageContainer-"] + div {
    position: fixed !important;
    top: 180px !important;
    background-position: center !important;
}

/* Keyframes */
@-webkit-keyframes plexbgfadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes plexbgfadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes plexbgfadein {
    from {opacity:0;}
    to {opacity: 1;}
}
@keyframes plexbgfadein {
    from {opacity:0;}
    to {opacity:1;}
}
